<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/people/new" method="post">
        <label for="fullName">Full name:
            <input type="text" id="fullName" name="fullName"><br>
        </label>
        <label for="yearBirth">Year of birth:
            <input type="text" id="yearBirth" name="yearBirth"><br>
        </label>
        <button type="submit">Add</button>
    </form>
</body>
</html>