<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/books/new" method="post">
  <label for="name">
    <input id="name" name="name" type="text" th:value="${book.getName()}">
  </label>
  <label for="author">
    <input id="author" name="author" type="text" th:value="${book.getAuthor()}">
  </label>
  <label for="year">
    <input id="year" name="year" type="text" th:value="${book.getYear()}">
  </label>
  <label for="id">
    <input id="id" name="id" type="hidden" th:value="${book.getId()}">
  </label>
  <button type="submit">update</button>
</form>
</body>
</html>